<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultorio Médico ARANDA</title>
</head>
<body>
    <h1>SISTEMA WEB DE CONTROL DE ATENCIONES</h1>
    <h2>CONSULTORIO MÉDICO ARANDA</h2>
    <hr>
    <p>Bienvenido al sistema.</p><br>
    {% if mostrar_registro %}
        <a href="/registro"><button>Registro</button></a><br><br>
    {% endif %}
    {% if mostrar_login %}
        <a href="/login"><button>Iniciar Sesión</button></a>
    {% endif %}
</body>
</html>