body{
    background: url("../img/pacientes.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', sans-serif;
}

.overlay{
    min-height: 100vh;
}

.formulario-card{
    max-width: 850px;
    margin: auto;
    border: none;
    border-radius: 25px;
    background: rgba(255,255,255,0.97);
    backdrop-filter: blur(8px);
}

.icono-principal{
    font-size: 4rem;
    color: #198754;
}

.titulo-principal{
    color: #198754;
    font-weight: bold;
}

.mensaje{
    color: #6c757d;
}

.form-label{
    font-weight: 600;
}

.form-control{
    border-radius: 12px;
}

.alert{
    border-radius: 15px;
}

.btn{
    border-radius: 12px;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: translateY(-3px);
}