<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Médico</title>
</head>
<body>
    <h1>REGISTRO DE MÉDICOS</h1>
    <form>
    
        <label>Nombre:</label>
        <input type="text">
        <br><br>
    
        <label>Apellidos:</label>
        <input type="text">
        <br><br>
    
        <label>Teléfono:</label>
        <input type="text">
        <br><br>
        <label>Especialidad:</label>
        <input type="text">
        <br><br>
    
        <label>Usuario:</label>
        <input type="text">
        <br><br>
    
        <label>Contraseña:</label>
        <input type="password">
        <br><br>
        <button>Guardar</button>
    
    </form>
</body>
</html>