<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <h1>Bienvenido {{ session['nombre'] }}</h1>
    <h2>Panel Administrador</h2>
    <ul>
        <li><a href="/listar_personal">Gestionar Personal</a></li>
        <li><a href="/listar_medicos">Gestionar Médicos</a></li>
        <li><a href="/listar_pacientes">Gestionar Pacientes</a></li>
        <li><a href="/listar_citas">Gestionar Reservas</a></li>
        <li><a href="">Gestionar Reportes</a></li>
    </ul>
    <a href="/logout">
        <button>Cerrar Sesión</button>
    </a>
</body>
</html>