<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médico</title>
</head>
<body>
    <h1>Bienvenido Dr(a). {{ session['nombre'] }}</h1>
    <h2>Panel Médico</h2>
    <ul>
        <li><a href="/agenda_medica">Citas Médicas </a></li>
        <li><a href="/historial_atenciones">Historial de Atenciones</a></li>
        <li><a href="">Recetas Médicas</a></li>
        <li><a href="">Reportes</a></li>
    </ul>
    <a href="/logout"><button>Cerrar Sesión</button></a>
</body>
</html>